body {
    min-height: 100wh;
    background: url(/images/themes/cde/bgtile.png);
    background-repeat: repeat;
    background-size: auto;
    image-rendering: pixelated;
    font-size: 1em;
    font-family: 'mainfont';
}

/* ############################## App Grid ############################## */

.appgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    padding: 10px 0;
}

.appicon {
    display: block;
    width: 7%;
    min-width: 40px;
    text-align: center;
}

.appicon img {
    width: 100%;
}

/* ############################## Window ############################## */

.window {
    box-sizing: border-box;
    border-style: solid;
    border-image-repeat: stretch;
}

.window-yellow {
    border-width: 54px 40px 53px;
    /* top | left and right | bottom */
    border-image-slice: 54 40 53 fill;
    border-image-source: url(/images/themes/cde/window.png);
}

.window-red {
    border-width: 54px 40px 53px;
    /* top | left and right | bottom */
    border-image-slice: 54 40 53 fill;
    border-image-source: url(/images/themes/cde/window-red.png);
}

.windowmb {
    border-width: 96px 40px 53px;
    border-image-source: url(/images/themes/cde/windowtb.png);
    /* top | left and right | bottom */
    border-image-slice: 96 40 53 fill;
}

/* ############################## Window Elements ############################## */

.window-title {
    margin-bottom: 83px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: white;
    margin-top: -41px; /* default */
}

.windowmb > .window-title {
    margin-top: -83px !important;
}

.windowmb-menubar {
    margin-top: -68px;
    margin-bottom: 45px;
    margin-left: -20px;
    font-size: 1.35em;
    color: white;
}

.windowmb-menubar a {
    color: white;
    text-decoration: none;
    margin-right: 7px;
}

.window-toolbar {
    background-color: #c6b2a8;
    width: calc(100% + 50px);
    margin-top: -26px;
    margin-left: -25px;
}

/* bottom border */
.window-toolbar > hr {
    height: 2px;
    background: #6a605a;
    border-color: #9b8c84;
    border-width: 1px;
    border-style: solid;
}

/* ############################## UI Elements ############################## */

.button {
    display: inline-block;
    background-color: #c6b2a8;
    border-style: solid;
    border-color: #daccc6 #83776f #83776f #daccc6;
    padding: 5px;
}

.button > img {
    image-rendering: pixelated;
}