body {
    background: url(/images/themes/dreams/bgtile.gif);
    background-repeat: repeat;
    image-rendering: pixelated;
    font-size: 1em;
    font-family: 'mainfont';
}

p, a, b, h1, h2, h3{
    color: white;
}

.maincontent {
    background-color: #001933cc;
    border: 2px solid #336699;
    padding: 20px;
}