.embedded-browser {
    width: calc(100% + 42px);
    height: 350px;
    margin-left: -21px;
    margin-right: -21px;
    margin-top: -8px;
    margin-bottom: -6px;
}

.toolbar-button {
    width: 60px;
}

.toolbar-button > img {
    width: 35px;
}

.webring-container {
    width: 30%;
    text-align: center;
}

.webring-container > .webring-name {
    display: block;
    margin-bottom: 5px;
}

.webring-container > .webring-icon {
    width: 50%;
}

.webbutton-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: var(--maincontent-width);
    margin: 20px auto 0 auto;
}

.webbutton-container > img {
    display: inline;
}